body{
    font-family: Arial, Helvetica, sans-serif;
}
.para{
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 0 350px;
    line-height: 30px;      
}
.donetnow{
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}
.top-banner{
    background-image: url(donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    
}

.donet-div{
    margin: 0 auto;
       
}
.donet-div h1{
    text-align: center;
    color: white;
    font-size: 60px;
    padding-top: 200px;
}

.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 30px;
    font-weight: 800;
    color: white;
}
/* donet today section */
.donet-today h1{
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
}
.para2{
    font-size: 18px;
    text-align: center;
    padding: 10px 300px;
}
.container{
    display: flex;
    justify-content: center;
    margin: 10px 50px;
}
.box{
    padding: 70px 70px;
    background-color: #efefef;
    margin: 0 5px;
    border-radius: 5px;
    height: 100px;
    width: 100px;
}
.link{
    text-decoration: none;
    color: black;
}
.two{
    border: 2px solid red;
    background-color: rgb(228, 194, 194);
}
.two a{
    color: red;
}
#input{
    font-size: 20px;
    margin-bottom: 50px;
    display: block;
    box-sizing: border-box;
    margin: 50px auto;
    padding: 10px 300px;
    border: none;
    border-bottom: 2px solid rgba(175, 169, 169, 0.4);
}
.donate-btn{
    text-decoration: none;
    padding: 15px 40px;
    font-size: 18px;
    color: white;
    background-color: rgb(194, 121, 121);
    border-radius: 5px;
}
.input-btn{
    margin: 0 auto;
    text-align: center;
}